.hero {
	width: 100%;
	height: 420px;
	position: relative;
	display: flex;
	align-items: center;

	&__wrap {
		margin: 0 auto;
		max-width: 1200px;
		padding: 0 15px;

	}

	&__image {
		width: 100%;
		height: 100%;
		object-fit: cover;
		position: absolute;
		top: 0;
		left: 0;
	}

	&__title {
		font-size: 27px;
		color: #fff;
		z-index: 1;
		position: relative;
	}
}